banal==1.0.6
blinker==1.6.2
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
Flask==2.3.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.2
normality==2.4.0
pantomime==0.6.0
psutil==5.9.5
text-unidecode==1.3
Werkzeug==2.3.4
